<% content_for :title do %>Sensu Status<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="jira-in-prog-issues" data-view="JiraListCurrentSprintIssues"></div>
    </li>
  </ul>
</div>
